body {
    background-color: ghostwhite;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img {
    display: block;
    margin: auto;
    width: 400px;
    height: 360px;
    margin-top: 4%;
}

h1 {
    font-size: 425%;
    margin: 0;
    text-align:center;
}

p {
    text-align:center;
    margin: 0;
    font-size: 175%;
}