body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: #f7f7f7;
}
#title {
    text-align: center;
    font-size: 350%;
}
p {
    color:black;
    font-size: 115%;
}
#desc {
    color: black;
    text-align: center;
    width: 500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2 {
    font-size: 175%;
    color: black;
}
a:link {
    color: blue;
}
a:visited{
    color: purple;
}
a:hover {
    color: cornflowerblue;
}
#contents {
    width: 75%;
    margin: 0 auto;
}