body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: black;
}
#title {
    text-align: center;
    color: lime;
    font-size: 250%;
}
p {
    color:white;
}
#desc {
    color: orange;
    text-align: center;
    width: 500px;
}
h2 {
    font-size: 175%;
    color: lime;
}
a:link {
    color: orange;
}
a:visited{
    color: red;
}
a:hover {
    color: purple;
}