body {
    font-family:'Times New Roman', Times, serif;
    background-color: #082939;
    color: white;
}
#title {
    font-size: 350%;
    text-align: center;
}
#desc {
    font-size: 150%;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.gbtn {
    text-align: center;
    margin: 0 auto;
    background-color: #161616;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 25%;
    font-size: 140%;
    border-radius: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-top: 7%;
}
.dbtn {
    text-align: center;
    margin: 0 auto;
    background-color: dodgerblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 25%;
    font-size: 140%;
    border-radius: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-top: 4%;
    margin-bottom: 13%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}