body {
    font-family:'Times New Roman', Times, serif;
    background-color: #082939;
    color: white;
}
#title {
    font-size: 350%;
    text-align: center;
}
#desc {
    font-size: 150%;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.gbtn {
    text-align: center;
    margin: 0 auto;
    background-color: #161616;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 25%;
    font-size: 140%;
    border-radius: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-top: 7%;
}
.dbtn {
    text-align: center;
    margin: 0 auto;
    background-color: dodgerblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 35%;
    font-size: 140%;
    border-radius: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-top: 4%;
}
.abtn {
    text-align: center;
    margin: 0 auto;
    background-color: orange;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 20%;
    font-size: 100%;
    border-radius: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-top: 4%;
    margin-bottom: 13%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
table a:link {
    color: #0000EE;
    text-decoration: none;
}
table a:visited {
    color: #0000EE;
    text-decoration: none;
}
table, td, th {
    border: 2px solid white;
    border-collapse: collapse;
    padding: 5px;
    margin: 0 auto;
    font-size: 120%;
}
#rgitlnk {
    font-size: 110%;
    text-align: center;
    margin: 0 auto;
}
#back {
    margin: 1%;
    background-color: orangered;
    border-radius: 5%;
    padding: 0.5%;
    color: white;
    text-decoration: none;
}