body {
    font-family: "Berlin Sans FB Regular";
    color: white;
    background-color: #141619;
}
@font-face {
    font-family: Doom;
    src: url(..\DooM.ttf);
}
#title {
    font-size: 250%;
    color: red;
    font-family: Doom;
    padding-top: 2%;
    margin-bottom: 4%;
}
p {
    color:white;
    text-align: center;
}
#desc {
    color: white;
    text-align: center;
    width: 500px;
}
h2 {
    font-size: 175%;
    color: white;
}
a:link {
    color: cyan;
}
a:visited{
    color: purple;
}
a:hover {
    color: cornflowerblue;
}
img {
    border: 3px ridge gold;
    margin: 2%;
    float: left;
}
#waddesc {
    width: 400px;
}
#back {
    margin-left: 20px;
    position: fixed;
    background-color: orangered;
    border-radius: 5%;
    padding: 0.5%;
    color: white;
    text-decoration: none;
}
#details {
    border: 1px solid white;
    display:inline-block;
}
#waddetails {
    text-align: left;
    margin-left: 4%;
    float: left;
    width: 400px;
}
#all {
    width: 800px;
    display: block;
    margin: 0 auto;
}
#download {
    width: 200px;
    float: right;
    display: inline-block;
    margin: auto;
    margin-top: 15%;
    margin-right: 17.5%;
}
#btn {
    background-color: lime;
    border-radius: 4%;
    display: inline;
    padding: 5%;
    font-size: 250%;
    margin-left: 7px;
}
#btn a {
    color: white;
    text-decoration: none;
}