body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color:lightgrey;
}
#title {
    text-align: center;
    color: black;
    font-size: 275%;
    margin-bottom: 3%;
}
p {
    margin: 0 auto;
    color: black;
    text-align: center;
    font-size: 120%;
    width: 60%;
    font-weight: bold;
    margin-top: 2%;
    clear: both;
}
#desc {
    margin: 0 auto;
    color: black;
    text-align: center;
    font-size: 120%;
    width: 60%;
    font-weight: bold;
    margin-top: 2%;
}
h2 {
    font-size: 175%;
}
@font-face {
    font-family: wiki;
    src: url("Hoefler.ttf");
}
#wiki {
    font-style: italic;
    font-family: wiki;
}
#toc {
    z: 1;
    border: 1px solid black;
    display: inline-block;
    padding-right: 20px;
    position: fixed;
    top: 50px;
    background-color: white;
}
.sub {
    text-align: center;
}
table, td {
    border: 1px solid black;
    background-color: white;
    margin-left:auto; 
    margin-right:auto;
    max-width: 650px;
}
#back {
    position: fixed;
    top: 0px;
    margin: 0px;
}
.porth {
    margin-left: 25%;
}
img {
    margin-bottom: 20px;
    
}
.portc {
    margin: auto;
    width: 50%;
}
.portt {
    width: 300px;
    text-align: left;
    margin: 0;
    float: right;
    margin-left: 5%;
    margin-bottom: 3%;
    clear: both;
}
.ctext {
    text-align: center;
    margin: auto;
    width: 600px;
    margin-top: 40px;
    margin-bottom: 5px;
}
.cimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}
#lp, #gm {
    margin-left: 20%;
}
h6{
    color: red;
    font-style: italic;
    text-align: center;
}
iframe {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}